<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <p class="navbar-text"><%= @merchant.name %></p>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Create', new_merchant_bulk_discount_path, class: 'link_1', style: 'pull-right' %>
    </ul>
  </nav>
</div>
<body>
  <div class="row">
    <p class="ml-auto col-sm-5" id= "bd-header">Bulk discounts:</p>
    <p class="mr-auto col-sm-5" id= "holiday-header">Upcoming Holidays:</p>
  </div>
    <ul class="ml-auto col-sm-4" id="discounts" style="float:left; padding-left: 50px;">
      <% @discounts.each do |discount| %>
        <section id="discount-<%= discount.id %>">
        <li>Discount <%= link_to "#{discount.id}", merchant_bulk_discount_path(@merchant, discount) %>
        - Description: <%= discount.description %>
        - Discount: <%= discount.percentage %>% off of each item for orders over <%= discount.threshold %> items
        <%= button_to 'delete', "/merchant/#{@merchant.id}/bulk_discounts/#{discount.id}", method: :delete %></li>
        </section><hr>
      <% end %>
    </ul>
    <ul class="mr-auto-col-sm-4" style="float:right; padding-right: 400px;">
      <% @three_closest_holidays.each do |holiday| %>
        <section id="<%= holiday.date %>">
          <li><%= holiday.name %>, <%= holiday.date %></li><br>
        </section>
      <% end %>
    </ul>
</body>