<body>
  <div class="row">
    <p class="col-12">Discount <%= @discount.id %></p>
  </div>
  <div style="text-align: center;">
    <p>Description: <%= @discount.description %></p><br>
    <p>Percentage: <%= @discount.percentage %></p><br>
    <p>Threshold: <%= @discount.threshold %></p><br>
    <%= link_to 'update', edit_merchant_bulk_discount_path %>
  </div>
</body>